<app-kheader [title]="'About'"></app-kheader>

<ion-content>
  <div class="container">
    <h3>{{gradeTitle}} Library</h3>
    <div>
      <span class="title">Praise the Lord <br /></span>
      <ul>
        <li>This is a library which includes lesson wise notes and quiz</li>
        <li>Mainly for {{gradeTitle}} students</li>
      </ul>
    </div>
    <div>
      The verses used here are from NKJV version.
      <br />
      Students can refer to other versions like NIV
    </div>
    <div>
      For any suggestions or feedback, kindly send mail to kjwork120@gmail.com
    </div>
    <!-- <div>
      <strong>Developed by:</strong>
      Kevin John
    </div> -->
  </div>
</ion-content>
