<app-kheader-back [title]="headerTitle"></app-kheader-back>

<ion-content>
  <div class="container">
    <div class="spinner" *ngIf="isLoading">
      <ion-spinner></ion-spinner>
      <div>Loading data ...</div>
    </div>
    <div class="form">
      <form [formGroup]="NoteGroup">
        <div class="form-group">
          <label>No</label>
          <input type="text" formControlName="id" class="form-control" required>
        </div>
        <div class="form-group">
          <label>Question</label>
          <input type="text" class="form-control" formControlName="question" required>
          <div class="error" *ngIf="question.invalid && question.touched">
            <div *ngIf="question.errors.required">
              Question is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Answer</label>
          <textarea class="form-control answer" formControlName="answer" required></textarea>
          <div class="error" *ngIf="answer.invalid && answer.touched">
            <div *ngIf="answer.errors.required">
              Answer is required
            </div>
          </div>
        </div>
        <div class="btn">
          <button type="submit" (click)="save()" class="btn btn-default">Save</button>
        </div>

      </form>
    </div>

  </div>
</ion-content>