/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* custom css - global app specific */
:root {
  --var-color-red: rgb(156, 32, 11);
  --var-color-green: rgb(86, 165, 21);
  --var-color-blue: #5260ff;
  --var-color-boxshadow: #5260ff;
  --var-color-box: silver;
  --var-color-white: white;
  --var-color-silver: gray;

  --var-color-black: black;
  // --var-color-bg : white;
  // --var-color-fg : black;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Comic Sans MS";
}

@import url("src/app/utils/shared.scss");

input {
  background-color: var(--var-color-white);
  color: var(--var-color-black);
}
textarea {
  background-color: var(--var-color-white);
  color: var(--var-color-black);
}
