div.container {
  max-width: 600px;
  margin: 30px auto;
}
div {
  padding: 10px;
}
div.ref {
  // text-transform: uppercase;
  padding-left: 45%;
  color: maroon;
  font-weight: bold;
  font-size: 1rem;
}

div.header {
  margin: 10px;
  color: var(--ion-color-tertiary);
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid silver;
  box-shadow: 5px 5px 15px var(--var-color-boxshadow);
}
div.data {
  margin: 10px;
}
div.note {
  color: var(--ion-color-tertiary);
  font-weight: 1.2rem;
  padding: 2px;
}
